


<h1>Welcome my Dear Admin!</h1>

<br />

<h4>Take a look at all available roles</h4>
  <a class="btn btn-primary mb-3" style="width:auto" asp-action="ListRoles"
            asp-controller="admin">Manage Roles</a>

<br />
<br />

<h4>Take a look at all available Users</h4>
  <a class="btn btn-primary mb-3" style="width:auto" asp-action="ListUsers"
            asp-controller="admin">Manage Users</a>