@using Microsoft.AspNetCore.Identity
@using Meeting_Minutes.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Meeting_Minutes</title>
	<link rel="stylesheet" href="~/lib\bootstrap\dist\css\bootstrap.css" />
	<link rel="stylesheet" href="~/lib\bootstrap\dist\css\_bootswatch.scss" />
	<link rel="stylesheet" href="~/lib\bootstrap\dist\css\_variables.scss" />
	<link rel="stylesheet" href="~/lib\bootstrap\dist\css\bootstrap-grid.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Meeting_Minutes.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		@if (SignInManager.IsSignedIn(User))
		{
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Meeting Minutes</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor02">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="Meetings" asp-action="Index">Meetings</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="Upcoming" asp-action="Index">Upcoming</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="History" asp-action="Index">History</a>
							</li>
							@if (User.IsInRole("Administrator"))
							{
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
								</li>
							}
						</ul>
						<partial name="_LoginPartial" />
					</div>
				</div>
			</nav>
		}
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
			@*               @if (!SignInManager.IsSignedIn(User))
				{
				<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
				<a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
				}*@
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022  <a href="https://github.com/DimitrisTsounis/MindTheMinutes">Meeting Minutes Github</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
