@{
	ViewData["Title"] = "Home Page";
}

<div class="align-content-stretch-top">
	<h2>Welcome to Mind The Code Meeting Minutes Application!</h2>
	<h3>
		<small class="text-muted">This application allows you to keep notes across calls and meetings, informs attendees and creates actional items.</small>
	</h3>
</div>

