@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	ViewData["Title"] = "Home Page";
}



<div class= "myDiv">
<div class="align-content-stretch-top">

	
	</div>

	<h1>
		<div class="icon">
		<i class="bi bi-calendar-week " width="50" height="50" ></i>
	
	</div>
	
	Meeting Minutes</h1>

	<h2>
		<small class="text-muted">Welcome to Mind The Code Meeting Minutes Application!</small>
	</h2>
	<h3>
		<small class="text-muted">This application allows you to keep notes across meetings, inform attendees and create actional items.</small>
	</h3>
</div>
@if (!SignInManager.IsSignedIn(User))
{
	<button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person"> Register</i></a></button>
	<button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-door-open"> Login</i></a></button>
}
</div>
